@import url('https://fonts.googleapis.com/css?family=Jua');

body {
	background:rgba(205,205,205,1.00);
}

.money {
	height: 385px;
	width: 230px;
	position: absolute;
	top: 60px;
	right: 15px;
	border: none;
	
}

.board {
	width: 50%;
	margin: 130px auto auto;
	background:#EBEBEB;
}

.noti {
	border: 0.7px dotted #B8B8B8;
	font-family: 'Jua', sans-serif;
}

.noti:hover{
	background:#B5B5B5;
}

.grid {
	-webkit-column-gap:20px;
	-webkit-column-fill:auto;
	-moz-column-gap:20px;
	-moz-column-fill:auto;
	column-gap:20px;
	column-fill:auto;
}

.grid-item {
	border: 2px solid rgba(128,128,128,0.60);
	display:inline-block;
	background:none;
	margin:0px 10px 50px 10px;
	padding:3px 3px 10px 3px;
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	column-break-inside:avoid;
}

.hide {
	display: none;
}

.grid-item:hover{
	background:rgba(128,128,128,0.60);
}

.grid-item:hover
	.hide{
		display:inline;
		overflow: hidden;
		text-overflow: clip;
}

.break {
	break-after: auto;
}

img {
	width:100%
}

a{
	color: black;
}

p {
	margin:0px;
	font-size:1.5em;
	font-family: 'Jua', sans-serif;
}

hr {
	border:1px dotted rgba(128,128,128,0.50);
}

@media (min-width: 300px) {
  .grid {
	  margin: 150px 70px;
    -webkit-column-count:1;
	  -moz-column-count:1;
	  column-count:1; 
  }
	.break {
	break-after: auto;
	}
	.money {
		visibility: hidden;
	}
	.noti {
		font-size: 1.2em;
	}
}

@media (min-width: 600px) {
  .grid {
	  margin: 150px 70px;
    -webkit-column-count:2;
	  -moz-column-count:2;
	  column-count:2; 
  }
	.break {
	break-after: auto;
	}
	.money {
		visibility: hidden;
	}
	.noti {
		font-size: 1.4em;
	}
}

@media (min-width: 1000px) {
  .grid {
	  margin: 150px 100px;
    -webkit-column-count:3;
	  -moz-column-count:3;
	  column-count:3; 
  }
	.break {
	break-after: auto;
	}
	.money {
		visibility: visible;
	}
	.noti {
		font-size: 1.6em;
	}
}

@media (min-width: 1400px) {
  .grid {
	  margin: 150px;
    -webkit-column-count:4;
	  -moz-column-count:4;
	  column-count:4; 
  }
	.break {
	break-after: column;
	}
	.money {
		visibility: visible;
	}
	.noti {
		font-size: 1.8em;
	}
}
