@charset "utf-8";
/* CSS Document */

/* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Undoes normalize.css setting box-sizing to content-box */
input[type="search"] {
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 120px auto auto;
}

.Search {
  position: relative;
  display: flex;
  color: #555;
}

.Search-box {
  flex: 1 0 auto;
  padding: 8px 20px;
  height: 60px;
  border: 0;
  font-size: 30px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
}

#sr{
	border: 0;
	outline: 0;
	background-color: rgba(255,255,255,0.5);
}

.Search-box:focus,.select:focus {
  outline: 0;
}

.Search-label {
	position: absolute;
	top: 8px;
	right: 20px;
	font-size: 30px;
}